
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#ffc107;
}
.body{
   height: 300vh;
}
header, .last__news, .notification, .educate, .mission, .student__activity{
    width: 100%;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;   
}

/* contact start  */
.contact{
    width: 100%;
    height: 40px;
    margin-right: 0;
}
.contact ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
.contact ul li{
    margin-left: 30px;
    list-style: none;
}
.contact ul li a{
    font-size: 10px;
    color: black;
    text-decoration: none;
}
.contact ul li a:hover{
    color: var(--primary-color);
}
.contact ul button{
    margin-left: 30px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}
.contact ul button:hover{
    background-color: #28a745;
}
/* contact end */

.row{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.row .img{
    width: 70%;
    height: 100%;
}
.row .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.row i{
    margin-left: 5px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    width: 60px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
.row input{
    margin-left: 40px;
    height: 35px;
    width: 20%;
}

/* navbar start */
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin: 0 10px;
}
.navbar ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.navbar ul li a:hover{
    color:var(--primary-color) ;
}
/* navbar end */

/* slide-show start */
.all{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 550px;
    background-color: #dddddd;
    display: flex;
}
.all .slideshow{
    width: 65%;
    height: 100%;
}
.all .slideshow img{
    width: 100%;
}
.all .grade{
    width: 30%;
    margin: 0 auto;
}
.list{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #235dc4;
    border-bottom: 5px solid #01b7fa;
}
.list h1{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.list .write{
    display: flex;
}
.list .write .write1{
    padding-right: 30px;
    padding-left: 20px;
}
.write1 li {
    list-style: none;
    padding-bottom: 10px;
}
.write1 li a{
    color: #fff;
    text-decoration: none;
}

.write2 li {
    list-style: none;
    padding-bottom: 10px;
}
.write2 li a{
    color: #fff;
    text-decoration: none;
}
.more{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.more .block__us{
    width: 32%;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
}
.block__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
    background-color: #6c511185;
    opacity: 0.5;
    transition: 0.5s ease;
}
.block__us .text{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    z-index: 9;
    top: 20%;
    left: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;  
}
/* slide-show end */

/* news start */
.last__news .title{
    text-align: center;
    color: var(--primary-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px; 
    margin-bottom: 40px;
}
.last__news .block__news, .block__noti, .educate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.block__news .news__daily_1, .news__image, .block__news .news__daily_2{
    width: 23%;
    height: 180px;
    margin-bottom: 40px;
}
.news__daily_1 h2{
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.news__daily_1 h2 span{
    font-size: 250%;
    color: #d2d2d2;
}
.news__daily_1 .news__title{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.news__daily_1 .readmore{
    margin-top: 30px;
}
.readmore a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    padding-right: 10px;
}
.readmore .fas{
    color: var(--primary-color);
}
.news__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news__daily_2{
    text-align: right;
}
.news__daily_2 h2{
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.news__daily_2 h2 span{
    font-size: 250%;
    color: #d2d2d2;
}
.news__daily_2 .news__title{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.news__daily_2 .readmore{
    margin-top: 30px;
}
.readmore a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    padding-right: 10px;
}
.readmore .fas{
    color: var(--primary-color);
}
/* news end */

/* noti start */
.notification{
    background-color: #f4f6fc;
}
.notification h3{
    text-align: center;
    color: #2555aa;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px; 
    padding-bottom: 50px;
    padding-top: 50px;
}
.notification .block__noti{
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.block__noti .last__noti{
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.last__noti .noti__img{
    width: 35%;
    height: 100%;
    padding-right: 20px;

}
.last__noti .noti__img img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.last__noti .noti__para{
    width: 65%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.last__noti .noti__para:hover{
    color: var(--primary-color);
}

/* noti end */

.educate{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* mission start */
.mission{
    position: relative;
    padding-bottom: 50px;
}
.mission .border__top{
    position: absolute;
    top: 0;
    width: 170px;
    height: 1px;
    background-color: #adaeb1;
}
.mission .border__bottom{
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 200px;
    height: 3px;
    background-color: var(--primary-color);
}
.mission .border__left{
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 3px;
    height: 200px;
    background-color: var(--primary-color);
}
.mission .mission__text{
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 48px;
    font-family: "GoogleSans-Bold";
}
.mission .mission__para{
    width: 70%;
    height: 550px;
    background-color: #fab101;
}
.mission__para p{
    text-align: justify;
    padding: 10%;
    padding-right: 30%;
    font-size: 23px;
    line-height: 1.5;
    color: white;
}
.mission .mission_image{
    position: absolute;
    padding-right: 120px;
    top: 0;
    right: 0;
    z-index: 9;
}
/* mission end */

/* vision start */
.vision{
    width: 100%;
    height: 1000px;
    position: relative;
}
.vision .vision__text{
    position: absolute;
    top: 0;
    right:120px;
    width: 25%;
    height: 300px ;
}
.vision__text .vision__title{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}
.vision__text p{
    text-align: justify;
    line-height: 1.5;
    color: #666666;
    font-size: 21px;
    padding-bottom: 21px;
}
.vision__text a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    border-bottom: 2px solid var(--primary-color);
}
.vision__text a i{
    padding-left: 10px;
}
.vision .vision__image{
    width: 50%;
    position: absolute;
    top: 20%;
    height: 500px;
}
.vision .vision__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vision .vision__image .vision__comment{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 50px;
    font-family:'Poppins', sans-serif ;
    color: white;
    font-weight: 600;
}
.student__activity{
    position: absolute;
    top: 35%;
}
.student__activity h1{
    font-size: 50px;
    color: white;
    font-family: 'Poppins', sans-serif ;
    padding-bottom: 50px;
}
.student__activity .student__life{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.student__block{
    width: 30%;
    height: 420px;
}
.student__block h2{
    position: relative;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.student__block .student__row{
    position: absolute;
    background-color: white;
    top: 140%;
    left: 20%;
    width: 60%;
    height: 1px;
}
.student__block p{
    margin-top: 60px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    line-height: 1.5;
    font-size: 20px;
}
.student__block .about__more{
    background-color: transparent;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 42px;
    text-align: center;
}
.student__block .about__more a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.student__block .about__more a i{
    padding-left: 10px;
}
/* vision end */